.header_wrap
    #blog_name
        a#site-name.blog_title(href=url_for('/')) #[=config.title]
    button.menus_icon
        .navicon
    ul.menus_items
        each value, label in theme.menu
            li.menus_item
                a.site-page(href=url_for(trim(value.split('||')[0])))=' ' + trim(label) + ' '
                    i(class=trim(value.split('||')[1]) aria-hidden="true")
    ul.menus_items_right
        each value, label in theme.menu_right
            li.menus_item
                a.site-page(href=url_for(trim(value.split('||')[0])))=' ' + trim(label) + ' '
                    i(class=trim(value.split('||')[1]) aria-hidden="true")